@import url("https://fonts.googleapis.com/css2?family=Miltonian+Tattoo&family=Playfair+Display:ital,wght@400;700;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: hsl(210, 94%, 14%);
    padding:25px ;
}


.container form {
    width: 700px;
    padding: 40px;
    background:white;
    border-radius: 20px;
}

form .row{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.row .colum{
    flex: 1 1 250px;
}

.colum .title{
    font-size: 20px;
    color: black;
    text-transform: uppercase;
    margin-bottom: 10px ;
}

.colum .input_box{
    margin: 12px 0;
}

.input_box span{
    display: block;
    margin-bottom: 10px;
}

.input_box input{
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 15px;
}


.colum .flex{
    display: flex;
    gap: 15px;
}

.flex .input_box{
    margin-top: 5px;
}

form .btn{
    width: 100%;
    padding: 12px;
    background:hsl(200, 50%, 60%);
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 17px;
    color: #fff;
    margin-top: 5px;
    cursor: pointer;
    transition: .5s;
}

form .btn:hover{
    background:hsl(200, 65%, 43%) ;
}

.input_box img {
    height: 34px;
    margin-top: 2px;
}

.input_box small {
    color: red;
    font-size: 14px;
    display: none;
    margin-top: 4px;
}

.input_box.error input {
    border: 1px solid red;
}

.input_box.error small {
    display: block;
}


.message {
    display: none;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    width: fit-content;
}

.success {
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
}

.error {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
}
